@main {
  <div class="container">
    <div class="row">
      <div class=" picturemain">
        <div id="apartmani">
          Apartmani Sarajevo
        </div>
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Sve o rezervacijama</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Da li apartman mogu koristiti sa mojim prijateljima iz Beograda?</b></p>

       <p>U apartmanima možete neometano primati dnevne i no?ne posete.
         S obzirom da se naši apartmani izdaju prema broju osoba no?enje je dozvoljeno samo osobama koje su navedene prilikom rezervacije.</p>

        <p><b>Šta ?e me ?ekati u frižideru?</b></p>

        <p>Frižideri u našim apartmanima imaju mini bar.
          Ukoliko imate neku posebnu želju u vezi sa sadržajem frižidera, ne ustru?avajte se da nas kontaktirate pre Vašeg dolaska.
          Potrudi?emo se da udovoljimo Vašoj želji.</p>

          <p><b>Koliko ?esto se menjaju posteljina i peškiri?</b></p>

        <p>U svim našim apartmanima obezbe?ena je posteljina i peškiri za onoliko osoba koliko je najavljeno prilikom rezervacije.
          Zamena posteljine vrši se svakih sedam dana ukoliko Vaša rezervacija traje duže od tog.
          Peškiri se menjaju svaka 3 dana.</p>

            <p><b>Izgubio sam klju?!</b></p>

        <p>U slu?aju da izgubite klju? dužni ste snositi troškove zamene brave i klju?eva na apartmanu.</p>

              <p><b>Ima li internet u apartmanu?</b></p>

        <p>U svakom apartmanu se nalazi ADSL ili kablovski internet  a svi apartmani imaju wireless modeme.</p>

                <p><b>Ima li telefon u apartmanu?</b></p>

        <p>Ve?ina naših apartmana ima fiksni telefon.
          Iz objektivnih razloga sa tih telefona je onemogu?eno biranje brojeva van Beograda, dok je primanje poziva neograni?eno.
          Ako ipak insistirate na fiksnim odlaznim pozivima van Beograda preporu?ujemo da se o tom detalju raspitate pre kona?ne rezervacije.</p>
      </div>
    </div>
  </div>
}