@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
        <div id="apartmani">
          Apartmani Sarajevo
        </div>
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Dolazak i odlazak</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Kako da do?em do apartmana?</b></p>


        <p>Prilikom potvrde rezervacije bi?e Vam dostavljena detaljna mapa apartmana iz pravca iz kog dolazite putem E-pošte.
          Ukoliko dolazite avionom, autobusom, vozom, može vas do?ekati naš voza?.</p>

        <p><b>Kada mogu u?i u apartman?</b></p>

        <p>U naše apartmane se ulazi posle 14 ?asova.
          U slu?aju da je apartman prethodni dan prazan ili trenutni gosti odlaze ranije, mogu?e je u?i i pre 14 ?asova.
          Svakako je najbolje da se o mogu?nosti ranijeg ulaska raspitate dan pred boravak.</p>

        <p><b>Ko ?e mi dati klju?eve?</b></p>

        <p>U ve?ini slu?ajeva na adresi apartmana ?e Vas sa?ekati vlasnik koji ?e Vas uvesti u stan, potpisati ugovor, predati klju?eve, izvršiti naplatu i pokazati mogu?nosti apartmana.</p>

        <p><b>Dolazim posle 20 ?asova. Šta onda?</b></p>

        <p>U StanNaDan ste dobrodošli u bilo koje doba dana ili no?i.
          Ulazak u apartmane je mogu? od 0-24h s tim što se u periodu od 23:59 do 08 ?asova posebno tarifira (rani ili kasni dolazak pogledati u dodatnim uslugama).</p>

        <p><b>Šta da radim sa klju?evima kad do?e vreme odlaska?</b></p>

        <p>Klju?evi se predaju istoj osobi koja Vas je i smestila po zajedni?kom obilasku i proveri stanja apartmana i naplate mini bara ukoliko je koriš?en.</p>

        <p><b> Da li je mogu?e da neko drugi preuzme klju?eve umesto mene?</b></p>

        <p>Mogu?e je ali bi ta osoba bila dužna i da potpiše ugovor i izvrši pla?anje umesto Vas.
          Po Vašem dolasku neophodno je izvršiti Vašu evidenciju.</p>
      </div>
    </div>
  </div>
}