@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
        <div id="apartmani">
          Apartmani Sarajevo
        </div>
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Kucni red</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
      <p>Apatman se izdaje dnevno i mora se napustiti do 12:00 ?asova na dan izlaska, osim ako je ugovorom druga?ije predvi?eno.</p>

       <p> Zadržavanje apartmana posle 12:00 ?asova povla?i naplatu narednog dana.</p>

        <p> Gosti su dužni da svoje dragocenosti nose sa sobom. StanNaDan Vam iz objektivnih razloga ne može garantovati za iste.</p>

        <p> U apartmane nije dozvoljeno uvoditi ku?ne ljubimce.</p>

        <p> Gosti su su dužni da ?uvaju apartman, inventar i instalacije. Svaka napravljena šteta mora biri nadokna?ena.</p>

        <p> Gosti ne smeju izazivati neugodnu buku, galamu i remetiti javni red i mir. Ovo posebno važi od 14 do 17h kao i od 22 do 09h.</p>

        <p> U apartmanima je mogu?e neometano primati posetioce, ukoliiko se isti drže ku?nog reda. <b style="color: red">Žurke i sedeljke su APSOLUTNO zabranjene.</b></p>

        <p>StanNaDan ima pravo da u slu?aju nepridržavanja ku?nog reda otkaže koriš?enje apartmana gostu i da ga proglasi “nepoželjnim”.</p>

        <p>Sa fiksnih telefona u našim apartmanima dozvoljeno je neometano telefoniranje u lokalu kao i primanje svih poziva. Pozivi van Beograde su blokirani kao i 0.</p>

        <p>Molimo goste da bilo kakvu nepravilnost, zamerku ili problem prijave agenciji na  + 381 65 42 43 500.</p>

        <p><b> Hvala Vam što ste nas izabrali</b></p>

        <p><b>Iskreno Vaš, StanNaDan</b></p>




      </div>

    </div>
  </div>

}