@main {
  <div class="container">
    <div class="row">
      <div class=" picturemain">
        <div id="apartmani">
          Apartmani Sarajevo
        </div>
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Placanje</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">

        <p><b>Šta sve cena boravka obuhvata?</b></p>

        <p>Obuhvata:</p>
        <li>boravak u apartmanu</li>
        <li>?iš?enje (pre i posle vašeg boravka kao i jednom nedeljno ukoliko je boravak duži od 7 dana. Postoji mogu?nost dnevnog održavanja ali se posebno tarifira. Pogledajte u dodatnim uslugama.</li>
        <li>infostan (režijski troškovi)</li>
        <li>telefon u lokalu</li>
        <li>internet i kablovsku TV.</li>

        <p><b>Kada i kome pla?am?</b></p>

        <p>Pla?anje se vrši prilikom preuzimanja klju?eva osobi koja Vam preda klju?eve i koja sa Vama potpiše ugovor.</p>

        <p><b>Mogu li platiti u evrima ili nekoj drugoj stranoj valuti?</b></p>

        <p>Pla?anje se vrši isklju?ivo u dinarima, po gornjem kursu narodne banke Srbije na dan kada se vrši pla?anje.
          Obzirom da se svi naši apartmani nalaze u blizini neke menja?nice,  novac u stranoj valuti ne?e predstavljati nikakav problem.</p>

        <p><b> Mogu li platiti karticom ili ?ekovima?</b></p>

        <p>Pla?anje je mogu?e izvršiti u gotovini i kreditnim karticama preko PAY PAL servisa (samo za uplatu depozita) kao i poštanskom uputnicom za gra?ane Srbije.
          Za pla?anje preko PAY PAL servisa na ukupnu cenu obra?unava se dodatnih 4% koliko iznose troškovi transfera.
          Državljanima pojedinih zemalja nije omogu?eno pla?anje preko PAY PAL servisa što zavisi od bankarske politike tih zemalja.
          Svi naši stanovi nalaze se u neposrednoj blizini nekog bankomata, tako da Vam dolazak do gotovine ne?e predstavljati nikakav problem.
          Pla?anje ?ekovima gra?ana nije mogu?e.</p>

        <p><b> Mogu li platiti na kraju boravka?</b></p>

        <p>Pla?anje se vrši ISKLJU?IVO unapred, prilikom preuzimanja klju?eva.
          Ako iz bilo kog razloga niste u mogu?nosti da celu sumu platite odjednom, mogu?e je parcijalno pla?anje ali uvek za dane unapred.</p>

        <p><b>Moram li uplatiti avans kako bi mi rezervacija bila sigurna?</b></p>

        <p> Avans od 20 %  od ukupne sume se pla?a za sve boravke duže od 5 no?enja a za kra?i boravak depozit je u visini 1 no?enja (u slu?aju otkazivanja avans se ne vra?a).
          Za vremenski bliže rezervacije avans nije neophodan a Vaša rezervacija je u svakom slu?aju sigurna.
          Ukoliko ipak želite uplatiti avans, naš ra?un ?e Vam biti blagovremeno dostavljen.</p>
      </div>
    </div>
  </div>
}