@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
        <div id="apartmani">
          Apartmani Sarajevo
        </div>
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Sve o rezervacijama</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Kako da rezervišem apartman koji sam odabrao-la?</b></p>

       <p> Kada odete na stranicu na kojoj se nalazi apartman koji Vam se dopada, dovoljno je da nam pošaljete E-poštu sa adrese u gornjem desnom uglu sa slede?im podacima: Ime i Prezime, broj telefona, datum dolaska i odlaska kao i sve dodatne zahteve ukoliko ih imate .
        Vaša rezervacija ?e biti važe?a tek kada dobijete potvrdan odgovor.
        Tako?e, rezervaciju možete ostvariti i telefonskim pozivom.</p>

        <p><b>Da li je moja rezervacija važe?a ako nisam dobio odgovor?</b></p>

        <p>Vaša rezervacija nije važe?a sve dok od nas ne dobijete potvrdan odgovor putem E-pošte.
        Ukoliko rezervišete telefonskim pozivom potvrda iste je obavezna putem E-pošte.
        Sa pozitivnim odgovorom Vaša rezervacija je sigurna i taj period je blokiran.</p>

        <p><b>Da li moram da uplatim avans da bih osigurao-la moju rezervaciju?</b></p>

        <p>Avans od 20% je obavezan (Nova Godina 50%) za boravke duže od 2 dana (u slu?aju otkazivanja avans se ne vra?a).
        Pla?anje avansa je mogu?e izvršiti u gotovini, poštanskom uputnicom za gra?ane Srbije kao i kreditnim karticama preko PAY PAL servisa.
        Za pla?anje preko PAY PAL servisa na ukupnu cenu obra?unava se dodatnih 4% koliko iznose troškovi transfera.
        Za kra?i boravak avans nije neophodan.</p>

        <p><b> Šta ako se pre mog dolaska desi neka nepredvidjena okolnost zbog koje ne mogu u?i u apartman?</b></p>

        <p>Ukoliko do?e do nepredvi?enih okolnosti zbog kojih nismo u mogu?nosti da Vam osiguramo ve? potvr?eni najam apartmana (viša sila), potrudi?emo se da Vam osiguramo po kvalitetu isti, ili bolji smeštaj u jednom od naših apartmana.
        U tom slu?aju nemate nikakvih dodatnih troškova, ve? najam koji ste platili ili koji je dogovoren pokriva troškove najma zamenskog apartmana.
        Ukoliko nikako nismo u mogu?nosti da Vam osiguramo zamenski smeštaj ili smo prisiljeni da otkažemo ve? potvr?eni najam zbog razloga na koji StanNaDan nema nikakvog uticaja (viša sila), iznos koji (ako) ste ve? uplatili biti ?e Vam u potpunosti vra?en, pa u tom slu?aju StanNaDan ne?e imati nikakvih daljih obaveza.</p>

        <p><b>Šta ako želim da otkažem rezervaciju?</b></p>

        <p>Ako iz bilo kog razloga želite otkazati rezervaciju,  najljubaznije Vas molimo da to uradite blagovremeno, ili eventualno onog momenta kad saznate da Vam apartman nije potreban.
        Molimo Vas tako?e da rezervaciju otkažete isklju?ivo telefonskim pozivom ili SMS-om na  +381 65 42 43 500.
        Pla?ena akontacija se ne vra?a ukoliko druga?ije nije dogovoreno.</p>

        <p><b> Ako želim da skratim vreme boravka u apartmanu, da li ?u dobiti deo novca nazad?</b></p>

        <p>U slu?aju ranijeg odlaska, s obzirom da je naplata smeštaja izvršena unapred, naše je pravo da zadržimo celokupnu napla?enu sumu ukoliko ne na?emo zamenu za isti ili duži period.</p>

      </div>
    </div>
  </div>
}