@main{

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cbx-heading2 text-left">
                    <h2 class="uppercase">APARTMAN <p>Lokacija, Adresa</p></h2>
                </div>
            </div>
        </div><!-- //ROW Our Team Header -->

        <section>
            <div class="row">
                <div class="col-md-9">
                    <div class="lz-about-description">
                        <p>neki tekst nekog glupog apartmana koji nema veze nikakve i cijena je 100KM</p>
                    </div>
                </div>

            </div>
        </section>
        <section>
            
        </section>

        <div>
            <section></section>
            
        </div>
    </div>




}